openapi: 3.1.0
info:
  title: Climatiq Autopilot Freight API
  version: '3'
  description: Climatiq is a carbon emissions calculation API that gives developers programmatic access to a curated database of emission factors and to purpose-built calculation endpoints. The API exposes search over the factor catalog and a family of estimation endpoints for activity-based and spend-based calculations across travel, freight, energy, cloud computing, procurement, and CBAM workflows. Authentication uses an API key sent as a Bearer token in the Authorization header. Responses are JSON with deterministic emission outputs in CO2e (kg) plus the underlying factor metadata.
  contact:
    name: Climatiq Support
    url: https://www.climatiq.io/support
  license:
    name: Climatiq Terms of Service
    url: https://www.climatiq.io/legal/terms
servers:
- url: https://api.climatiq.io
  description: Climatiq Production API
security:
- bearerAuth: []
tags:
- name: Freight
  description: Multi-modal freight emissions using GLEC factors.
paths:
  /freight/v3/intermodal:
    post:
      operationId: estimateFreightIntermodal
      summary: Estimate intermodal freight emissions
      description: Calculates well-to-wheel freight emissions across multi-leg journeys using GLEC factors for sea, air, road, and rail.
      tags:
      - Freight
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Freight emissions per leg and total.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
