openapi: 3.1.0
info:
  title: Climatiq Autopilot CBAM API
  version: '3'
  description: Climatiq is a carbon emissions calculation API that gives developers programmatic access to a curated database of emission factors and to purpose-built calculation endpoints. The API exposes search over the factor catalog and a family of estimation endpoints for activity-based and spend-based calculations across travel, freight, energy, cloud computing, procurement, and CBAM workflows. Authentication uses an API key sent as a Bearer token in the Authorization header. Responses are JSON with deterministic emission outputs in CO2e (kg) plus the underlying factor metadata.
  contact:
    name: Climatiq Support
    url: https://www.climatiq.io/support
  license:
    name: Climatiq Terms of Service
    url: https://www.climatiq.io/legal/terms
servers:
- url: https://api.climatiq.io
  description: Climatiq Production API
security:
- bearerAuth: []
tags:
- name: CBAM
  description: EU Carbon Border Adjustment Mechanism reporting.
paths:
  /cbam/v1:
    post:
      operationId: estimateCbam
      summary: Estimate CBAM embedded emissions
      description: Calculates embedded emissions for goods covered by the EU Carbon Border Adjustment Mechanism.
      tags:
      - CBAM
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: CBAM emission estimate.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
